/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
/* line 3, ../sass/main.scss */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/* line 9, ../sass/main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 14, ../sass/main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 19, ../sass/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 28, ../sass/main.scss */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/* line 37, ../sass/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 43, ../sass/main.scss */
textarea {
  resize: vertical;
}

/* line 47, ../sass/main.scss */
a {
  text-decoration: none;
  color: #03C;
}

/* line 52, ../sass/main.scss */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
/* line 63, ../sass/main.scss */
h1, h2, a {
  font-family: LBS;
  font-weight: normal;
}

/* line 68, ../sass/main.scss */
img.title {
  padding-top: 20px;
}

/* line 72, ../sass/main.scss */
#google-play-icon {
  width: 84px;
  display: block;
  margin: 40px auto 0 auto;
}

/* line 78, ../sass/main.scss */
.facebook-icon {
  width: 51px;
  margin-right: 20px;
}

/* line 83, ../sass/main.scss */
.twitter-icon {
  width: 61.5px;
}

/* line 87, ../sass/main.scss */
.main {
  padding: 30px 0;
  font-family: LBL;
}
/* line 90, ../sass/main.scss */
.main article {
  font-size: 1.35em;
  line-height: 1em;
}

/* line 96, ../sass/main.scss */
h1 {
  font-size: 43px;
}
/* line 98, ../sass/main.scss */
h1.mobile_only {
  font-size: 52px;
}
/* line 100, ../sass/main.scss */
.main h1.mobile_only {
  font-family: LBL;
  font-size: 36px;
}

/* line 107, ../sass/main.scss */
#intro_mobile {
  width: 340px;
  margin: 20px auto;
  padding-top: 10px;
  text-align: center;
  line-height: 1.2em;
}

/* line 115, ../sass/main.scss */
footer.mobile_only {
  margin: 40px auto 0 auto;
  font-family: LBS;
  font-size: 13px;
}
/* line 119, ../sass/main.scss */
footer.mobile_only span {
  padding-right: 10px;
}

/* ===============
    ALL: IE Fixes
=============== */
/* line 128, ../sass/main.scss */
.ie7 .title {
  padding-top: 20px;
}

/* ==========================================================================
   Media Queries
========================================================================== */
/* default to mobile */
/* line 136, ../sass/main.scss */
body {
  background: #00C6F7;
  color: white;
}

/* line 141, ../sass/main.scss */
.desktop_only {
  display: none;
}

/* line 145, ../sass/main.scss */
.mobile_only {
  display: inherit;
  text-align: center;
  margin: 0 auto;
}
/* line 149, ../sass/main.scss */
.mobile_only a {
  color: white;
}

@media only screen and (min-width: 480px) {
  /* ========================
  INTERMEDIATE: IE Fixes
  ======================== */
  /* line 159, ../sass/main.scss */
  nav ul li {
    display: inline;
  }

  /* line 163, ../sass/main.scss */
  .oldie nav a {
    margin: 0 0.7%;
  }
}
@media only screen and (min-width: 768px) {
  /* line 169, ../sass/main.scss */
  body {
    background: inherit;
    color: inherit;
  }

  /* line 174, ../sass/main.scss */
  .wrapper {
    margin: 0 5% 0 0;
  }

  /* line 178, ../sass/main.scss */
  .desktop_only {
    display: inherit;
  }

  /* line 181, ../sass/main.scss */
  .mobile_only {
    display: none;
  }

  /* line 185, ../sass/main.scss */
  img.title {
    padding-top: 130px;
  }

  /* line 189, ../sass/main.scss */
  .header-container {
    background: #00C6F7;
    height: 388px;
  }

  /* line 194, ../sass/main.scss */
  .main article,
  .header-container img {
    float: right;
    width: 57%;
  }

  /* line 200, ../sass/main.scss */
  .main aside {
    z-index: 2;
    position: relative;
    top: -326px;
    float: left;
    width: 43%;
  }
  /* line 206, ../sass/main.scss */
  .main aside img {
    width: 100%;
  }

  /* line 210, ../sass/main.scss */
  #google-play-icon {
    display: inline;
    width: 124px;
    margin: 0;
  }
}
@media only screen and (min-width: 1140px) {
  /* ===============
      Maximal Width
  =============== */
  /* line 223, ../sass/main.scss */
  .wrapper {
    width: 1026px;
    /* 1140*(1-10%)*/
    margin: 0 auto;
  }

  /* line 227, ../sass/main.scss */
  aside {
    right: 100px;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 236, ../sass/main.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 241, ../sass/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 252, ../sass/main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 262, ../sass/main.scss */
.invisible {
  visibility: hidden;
}

/* line 266, ../sass/main.scss */
.clearfix {
  *zoom: 1;
}
/* line 268, ../sass/main.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 272, ../sass/main.scss */
.clearfix:after {
  clear: both;
}
