/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
  color: #222;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

a {
  text-decoration: none;
  color: #03C;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
========================================================================== */
h1, h2, a {
  font-family: LBS;
  font-weight: normal;
}

.header-container {
  .logo {
    padding-top: 30px;
  }
}

.main {
  padding: 30px 0;
  font-family: LBL;
  article {
    font-size: 1.35em;
    line-height: 1em;
  }
}

h1.mobile-only {
  font-size: 52px;
  .main & {
    font-family: LBL;
    font-size: 32px;
  }
}


#intro_mobile {
  width: 320px;
  margin: 20px auto;
  padding-top: 10px;
  text-align: center;
  font-size: 19px;
  line-height: 1.2em;
  em {
    font-style: normal;
    font-family: LBS;
  }
}

#download-icons {
  width: 140px;
  margin: 40px auto 0 auto;
}

footer {
  width: 120px;
  margin: 80px auto 0 auto;
  font-family: LBL;
  font-size: 13px;
  .social-icons {
    width: 112px;
    margin: 0 auto;
    img {
      height: 30px;
    }
    .facebook-icon {
      padding-right: 8px;
    }
  }
  p {
    padding-top: 15px;
  }
}

/* ===============
ALL: IE Fixes
=============== */

.ie7 .logo {
  padding-top: 20px;
}

/* ==========================================================================
Media Queries
========================================================================== */
/* default to mobile */
body {
  background: #00C6F7;
  color: white;
}

.desktop-only {
  display: none;
}

.mobile-only {
  display: inherit;
  text-align: center;
  margin: 0 auto;
  a {
    color: white;
  }
}

@media only screen and (min-width: 480px) {
  /* ========================
  INTERMEDIATE: IE Fixes
  ======================== */

nav ul li {
  display: inline;
}

.oldie nav a {
  margin: 0 0.7%;
}
}

@media only screen and (min-width: 768px) {
  body {
    background: inherit;
    color: inherit;
  }

  .wrapper {
width: 768px;
    margin: 0 auto;
  }

  .desktop-only {
    display: inherit;
  }
  .mobile-only {
    display: none;
  }

  .header-container {
    background: #00C6F7;
    height: 218px;
    .logo {
      padding: 60px 0 0 300px;
    }
  }

  .main {
    aside {
      float: left;
      img {
        z-index: 2;
        position: relative;
        top: -172px;
      }
    }
    article {
      padding-left: 300px;
      width: 480px;
      h1 {
        font-size: 50px;
      }
    }
  }

  #download-icons {
    width: auto;
    margin: 0;
  }
  footer {
    width: auto;
    font-size: 13px;
    .social-icons {
      width: auto;
      img {
        height: 51px;
      }
      a:not(:last-child) img {
        margin-right: 20px;
      }
    }
  }

}

/* ==========================================================================
Helper classes
========================================================================== */

.clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
